language: rust
sudo: false

cache:
  directories:
    - /home/travis/.cargo

GH_TOKEN: &GH_TOKEN
  secure: VlRSi9Nh9iH6IWuDcwtk0dCveEBOSlcr/Oo6kw12S33Mc81gJjzDlYgWktJXwvx6iaLzuU22rakwMJ7eamiyHiEulWhU+yglDMqVODjGXbJfrwaviAPr4/0apvNY/spxlLcGmYb1zpoEkELHHWaSRtrRG06SSQAONFLWtyxHqreWM7DJ/gNf77kvHLfFrio+Ww1CQNlJP+GRkxdBBZ0QkCJOWAj/KQgSFZNBC98TpWFFClhvZ9GLqjz0kayzhX6XnhnIPd7T9PdQKfNIMWkeM5sziQNY4fPM2j5q4KMqc/dRfwO2GUYrh58dbAq56FBdwyFyYQmtBtx0hTASN686+bpQSXf6Z2TGUnpToo4uyPmZeXvnNwxgbX1BUh5B8i86QIm5cXj5Hu7x4Bwg+CiBgmpRuK80P8Xm3jMe0Naoyb8VEu9Bz4lkhr8C+GevxeNsLA4+5MsUqkOfJPzgykZTiERbmYwrUqbsfCiypePcrm6ezkM98TpRU1qNadu+ZIFAAc02LZ39ZrLdGeOQziE4FcwoOeSweo/Rh/wq2LW8E/sYNZ2pewPXkAcK3hot+gOMLf35p6IUEsAhOKyH/Y0KxXSXmXNmkQSAXBwfHRx/pV+IEZaUDQdMhkrwIjR2jFiC2/DXrpGcFpsqaa1RcugiW6cEljxWc3hsd4fzD7Vcu9w=

DEPLOY_TO_GITHUB: &DEPLOY_TO_GITHUB
  before_deploy:
    - git config --local user.name "Marco Vermeulen"
    - git config --local user.email "marco@sdkman.io"
    - name="grrs-$TRAVIS_TAG-$TARGET"
    - mkdir $name
    - cp target/$TARGET/release/grrs $name/
    - tar czvf $name.tar.gz $name
  deploy:
    provider: releases
    api_key: *GH_TOKEN
    file: grrs-$TRAVIS_TAG-$TARGET.tar.gz
    skip_cleanup: true
    on:
      branch: master
      tags: true

matrix:
  include:
  - name: Tests
    env: RUST_BACKTRACE=1
    rust: nightly
    script:
    - cargo test --locked
    - rustup component add rustfmt-preview
    - cargo fmt --version
    - cargo fmt --all -- --check

  - name: Linux Binary
    env: TARGET=x86_64-unknown-linux-gnu
    rust: nightly
    before_script: rustup target add $TARGET
    script: cargo build --release --target $TARGET --locked
    <<: *DEPLOY_TO_GITHUB

  - name: macOS Binary
    env: MACOSX_DEPLOYMENT_TARGET=10.7 TARGET=x86_64-apple-darwin
    os: osx
    rust: nightly
    script: cargo build --release --target $TARGET --locked
    install: true
    <<: *DEPLOY_TO_GITHUB

  - name: Windows Binary
    env: TARGET=x86_64-pc-windows-gnu
    rust: nightly
    before_script: cargo install cross
    script: cross build --release --target $TARGET --locked
    <<: *DEPLOY_TO_GITHUB
